<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Home Energy Management System (SHEMS)</title>
  <link rel="stylesheet" href="public/css/homestyles.css">
  <style> 
    html {
      height: 100%;
      background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      background-size: cover;
      background-position: center;
    }

    body {
      font-family: Arial, sans-serif;
      padding: 50px;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      margin: 0;
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    h1 {
      color: #333;
    }
  
    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 50px;
    }
  
    .button {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      font-size: 1rem;
    }
  
    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Smart Home Energy Management System (SHEMS)</h1>
  <div class="buttons">
    <a href="/login" class="button">Login</a>
    <a href="/register" class="button">Register</a>
  </div>
  <script src="/js/scripts.js"></script>
</body>
</html>